<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyw.firebaseauthapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="順安整復中心師父管理系統"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".MasterActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MasterBasicData" />
        <activity android:name=".BasicDataMaintain" />
        <activity android:name=".BasicDataMaintainPWD" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".NewOrder" />
        <activity android:name=".WaitingMoney" />
        <activity android:name=".OpenOrder" />
        <activity android:name=".OpenOrder_detail" />
        <activity android:name=".ClosedOrder" />
        <activity android:name=".BasicDataMaintainProgram" />
        <activity android:name=".AddProgram" />
        <activity android:name=".TobeConfirmOrder" />
        <activity android:name=".StoreLoc" />
        <activity android:name=".WaitingMoney_detail" />
        <activity android:name=".ClosedOrder_detail" />
        <activity android:name=".TobeConfirmOrder_detail" />
        <activity android:name=".modify_program" />
        <activity android:name=".ScheduleData" />
        <activity android:name=".StoreMap" />
        <activity android:name=".Schedule" />
        <activity android:name=".TimePeriod_A" />
        <activity android:name=".TimePeriod_B"></activity>
    </application>

</manifest>